Source: nginx-opi
Section: devel
Priority: optional
Maintainer: Tor Krill <tor@openproducts.se>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: nginx-opi
Architecture: all
Pre-Depends: kgp-ccheck (>=1.19)
Depends: ${misc:Depends},
 ssl-cert,
 kgp-database,
 nginx-light,
 php-fpm,
 php-apcu,
 php-mysql
Description: OPI generic nginx config
 Sets up deps and infrastructure for OPI nginx usage
